/* 프랜차이즈 */

#wrap_franchise{
    width: 100%;
background: #fff;}
#franchise{width: 1300px;

margin:30px auto;
box-sizing: border-box;
position: relative;}

#franchise h2 {
    color: #fff;
font-size: 60px;
letter-spacing: -6px;
position: absolute; 
top:70px; left:50px;
z-index: 999; }

#franchise img{
 filter: brightness(1.4);
}






  

   